apiVersion: v1
data:
  config: |
    {
    artifactRepository:
    {
        s3: {
            bucket: {{ .Values.s3.bucketName }},
            keyPrefix: artifacts,
            endpoint: {{ .Values.s3.minioServiceHost }},
            insecure: false,
            accessKeySecret: {
                name: mlpipeline-minio-artifact,
                key: accesskey
            },
            secretKeySecret: {
                name: mlpipeline-minio-artifact,
                key: secretkey
            }
        },
        archiveLogs: true
    }
    }
kind: ConfigMap
metadata:
  labels:
    application-crd-id: kubeflow-pipelines
  name: workflow-controller-configmap
  namespace: kubeflow
