# These packages are installed for both python2 and python3

# Jupyter related packages
jupyter-console==6.4.4
jupyterlab==3.4.4
jupyterlab-git==0.38.0
notebook==6.4.12
ipykernel==6.15.1

# Extensions for jupyter notebook
widgetsnbextension==3.6.1
ipywidgets==7.7.1

# Kubeflow Related Packages
kfp==1.8.20
kubeflow-training==1.6.0
kserve==0.10.1
git+https://github.com/kubeflow/katib.git@1d3ab5726f2f2181f174b5324b600cbfdd5f0cec#subdirectory=sdk/python/v1beta1
